@{
    ViewBag.Title = "EditPlan";
}

<div class="col-sm-10 col-sm-push-1">
    <div class="content">
        <div class="title-new-center">Планы для удовлетворения ваших потребностей</div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-custom panel-tariffCard plan-active" id="service-plan1">
                    <div class="panel-heading">
                        <h3 class="panel-title">Бесплатный аккаунт - 1GB</h3>
                    </div>
                    <div class="panel-body priceTag">
                        <div class="the-price">
                            <h2>$0<span class="subscript">/мес</span></h2>
                        </div>
                        <table class="table tariffCardTable">
                            <tr>
                                <td>1GB дискового пространства </td>
                            </tr>
                            <tr>
                                <td>до 30 дней хранения файлов</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button id="service-plan1" class="btn btn-default">Выбрать</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-custom panel-tariffCard" id="service-plan2">
                    <div class="panel-heading">
                        <h3 class="panel-title">$6.95 - Загружайте 5GB</h3>
                    </div>
                    <div class="panel-body priceTag">
                        <div class="the-price">
                            <h2>$6.95<span class="subscript">/мес</span></h2>
                        </div>
                        <table class="table tariffCardTable">
                            <tr>
                                <td>5GB дискового пространства </td>
                            </tr>
                            <tr>
                                <td>до 90 дней хранения файлов</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button id="service-plan2" class="btn btn-default">Выбрать</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-custom panel-tariffCard" id="service-plan3">
                    <div class="panel-heading">
                        <h3 class="panel-title">$9.95 - Загружайте 10GB</h3>
                    </div>
                    <div class="panel-body priceTag">
                        <div class="the-price">
                            <h2>$9.95<span class="subscript">/мес</span></h2>
                        </div>
                        <table class="table tariffCardTable">
                            <tr>
                                <td>10GB дискового пространства </td>
                            </tr>
                            <tr>
                                <td>до 120 дней хранения файлов</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button id="service-plan3" class="btn btn-default">Выбрать</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-custom panel-tariffCard" id="service-plan4">
                    <div class="panel-heading">
                        <h3 class="panel-title">$24.95 - Загружайте 20GB</h3>
                    </div>
                    <div class="panel-body priceTag">
                        <div class="the-price">
                            <h2>$24.95<span class="subscript">/мес</span></h2>
                        </div>
                        <table class="table tariffCardTable">
                            <tr>
                                <td>20GB дискового пространства </td>
                            </tr>
                            <tr>
                                <td>Неограниченый срок хранения файлов</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button id="service-plan4" class="btn btn-default">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
